<div ng-show="session.type === 'candidate' || session.type === 'hiring'" class="text-center">
	<ng-include src="'partials/notAuthorized.html'"></ng-include>
</div>

<div ng-hide="session.type === 'candidate' || session.type === 'hiring'">
	<div>
		<a ng-click="goTo('/hiringcompanies')" class="clickable">
			<i class="glyphicon glyphicon-arrow-left"></i>
			Return to Hiring Companies List Page
		</a>
	</div>
	
	<div class="h1 col-md-8 col-md-offset-2">{{title}}</div>
	
	<div class="h1 col-md-8 col-md-offset-2">
		<div class="form-group" ng-show="session.type === 'admin'">
			<div class="btn-group btn-lg">
				<button class="btn btn-primary" ng-click="modifyHiringCompany()">Modify Hiring Company</button>
				<button class="btn btn-default" ng-show="session.type === 'admin'">Delete Hiring Company</button>
			</div>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Hiring Company Profile
				</h3>
			</div>
			<div class="panel panel-body">
				<table class="table table-bordered">
					<tbody>
					<tr>
						<td>Name:</td>
						<td>{{hiringCompany.name}}</td>
					</tr>
					<tr>
						<td>Number of Users:</td>
						<td>{{hiringCompany.users.length}}</td>
					</tr>
					<tr>
						<td>Active:</td>
						<td>{{hiringCompany.active ? 'True': 'False'}}</td>
					</tr>
					<tr>
						<td>Staffing Agency Notes:</td>
						<td>{{hiringCompany.notes === '' ? 'None' : hiringCompany.notes}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>