<div ng-show="session.type === 'candidate' || notFound" class="text-center">
	<div ng-show="notFound">
		<h1 class="text-danger">Staffing Recommendation Not Found!</h1>
	</div>
	<div ng-hide="notFound">
		<ng-include src="'partials/notAuthorized.html'"></ng-include>
	</div>
</div>

<div ng-hide="session.type === 'candidate' || notFound">
	<div>
		<a ng-click="goTo('/staffing/recommendations')" class="clickable">
			<i class="glyphicon glyphicon-arrow-left"></i>
			Return to Staffing Recommendations List Page
		</a>
	</div>
	
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h1 class="panel-title">
					{{title}}
				</h1>
			</div>
			<div class="panel panel-body">
				<div class="well well-lg" ng-show="session.type === 'admin'">
					<div class="btn-group">
						<button class="btn btn-default"
						        ng-click="staffingRecommendation.active = !staffingRecommendation.active">
							{{staffingRecommendation.active ? 'Deactivate' : 'Activate' }}
						</button>
						<button class="btn btn-default" ng-click="deleteRecommendation()">
							Delete
						</button>
					</div>
				</div>
				
				<table class="table table-bordered">
					<tbody>
					<tr>
						<td>Created:</td>
						<td>{{staffingRecommendation.created | date: short}}</td>
					</tr>
					<tr>
						<td>Company:</td>
						<td>{{staffingRecommendation.company.name}}</td>
					</tr>
					<tr>
						<td>Active:</td>
						<td>
							{{staffingRecommendation.active ? 'True': 'False'}}
						</td>
					</tr>
					<tr>
						<td>Created By:</td>
						<td>
							{{staffingRecommendation.staffingUser.username}}
							<a ng-href="mailto:{{staffingRecommendation.staffingUser.emailAddress}}">
								({{staffingRecommendation.staffingUser.emailAddress}})
							</a>
						</td>
					</tr>
					<tr>
						<td>Staffing Request Keywords:</td>
						<td>
							{{staffingRecommendation.request.skillKeywords.toString()}}
							<a ng-href="#{{path.STAFFING_REQUESTS_DETAIL.replace(':id', staffingRecommendation.request.id)}}">
								(Click for Request Details)
							</a>
						</td>
					</tr>
					<tr>
						<td>Staffing Request Open Positions:</td>
						<td>
							{{staffingRecommendation.request.openPositions}}
						</td>
					</tr>
					<tr>
						<td>Candidates</td>
						<td>
							<p ng-repeat="candidate in staffingRecommendation.candidates">
								{{candidate.details.user.firstName + ' ' + candidate.details.user.lastName}}
								<button class="btn btn-xs btn-default"
								        ng-click="candidate.showDetails = !candidate.showDetails">
									<i class="glyphicon glyphicon-info-sign"></i>
									View Details
								</button>
								<br>
								<span ng-show="candidate.showDetails">
								<b>Candidate Response:</b>
								<i class="glyphicon glyphicon-thumbs-up text-success"
								   ng-show="candidate.candidateResponse === 'yes'"></i>
								<i class="glyphicon glyphicon-thumbs-down text-danger"
								   ng-show="candidate.candidateResponse === 'no'"></i>
								<i class="glyphicon glyphicon-time text-info"
								   ng-show="candidate.candidateResponse !== 'no'
								   && candidate.candidateResponse !== 'yes'"></i>
								<span ng-show="candidate.candidateResponse !== 'no'
								   && candidate.candidateResponse !== 'yes'">(Awaiting Response)</span>
								<br>
								<b>Hiring Company Response:</b>
								<i class="glyphicon glyphicon-thumbs-up text-success"
								   ng-show="candidate.hiringCompanyResponse === 'yes'"></i>
								<i class="glyphicon glyphicon-thumbs-down text-danger"
								   ng-show="candidate.hiringCompanyResponse === 'no'"></i>
								<i class="glyphicon glyphicon-time text-info"
								   ng-show="candidate.hiringCompanyResponse !== 'no'
								   && candidate.hiringCompanyResponse !== 'yes'"></i>
								<span ng-show="candidate.hiringCompanyResponse !== 'no'
								   && candidate.hiringCompanyResponse !== 'yes'">(Awaiting Response)</span>
								<br>
							</span>
							</p>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>